table{
	margin-top: 50px;
	text-align: center;
	background: #333;
	color: #fff;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

input[type="file"]{
	display: none;
}
z{
	color: white;
	height: 60px;
	width: 150px;
	background-color: #6C97EE;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 85%;
	right: 0;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h3{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.headings{
	display: flex;
	justify-content: space-between;
}